In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)
table = tables[0]
table.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [3]:
table = table[table.Borough != 'Not assigned']
table.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [4]:
table = table.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()
#neighborhoods_cleansed = neighborhoods_cleansed[neighborhoods_cleansed.Postcode == 'M1A']
table.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [8]:
table[table.Postcode == 'M7A']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

In [12]:
table_copy = table.copy()
table_copy.loc[table['Neighbourhood']=='Not assigned', 'Borough'] = table['Neighbourhood']
table_copy[table_copy.Postcode == 'M7A']

   Postcode       Borough Neighbourhood
85      M7A  Not assigned  Not assigned